body {
  font-family: Arial;
  background: #f2f2f2;
}

/* TARJETA EXACTA */
.card {
  width: 600px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 15px;

  box-shadow: 0 5px 15px rgba(0,0,0,0.2);

  /* 👇 ESTO ES LO QUE TE FALTABA */
  border-left: 8px solid #6c63ff;
}

/* TITULO */
.card h2 {
  margin-bottom: 10px;
}

/* IMAGEN CENTRADA */
.imagen {
  width: 300px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}

/* TEXTO */
.card p {
  text-align: center;
  color: #555;
}

/* POKEMON ABAJO */
.pokemones {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.poke {
  text-align: center;
}

.poke img {
  width: 60px;
}